
@{
    ViewBag.Title = "DyskusjaNick";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>DyskusjaNick</h2>

<div class="container">
    <p>
        <input type="text" id="nick" />
        <input type="text" id="tresc" />
        <input type="button" value="Wyślij" id="wyslij" />
    </p>

    <p>
        <ul id="komunikaty">
        </ul>
    </p>
</div>

@section scripts
{
    <script src="~/Scripts/jquery.signalR-2.4.1.js"></script>
    <script src="~/signalr/hubs"></script>
    <script>
        $(function () {
            var dyskusja = $.connection.AutorskiHub;
            dyskusja.client.wyswietlWiadomosc = function (tresc) {
                $('komunikaty').append('<li>' + tresc + '</li>');
            };
            $.conection.hub.start().done(function () {
                $('#wyslij').click(function(){
                    dyskusja.server.wyslijZNick($('#tresc').val());
                    dyskusja.server.wyslijZNick($('#nick').val());
                });
            });
        });
    </script>
}